* {
	font-family: sans-serif;
	font-size: 13px;
}

ul {
	list-style-type: none;
}

h1 {
	font-size: 32px;
}

.head {
    background-color: #828896;
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

textarea {
  outline: none;
  resize: none;
  overflow: auto;
}

#createForm {
	float: left; 
	padding: 5px;
}

a {
	font-size: 15px;
	color: blue;
	text-decoration: none;
}

a:hover {
	font-size: 15px;
	color: purple;
	text-decoration: underline;
}